body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: mediumpurple;
    display: flex;
    justify-content: center;

}

.card {
    margin-top: 50px;
    background-color: lightsalmon;
    border-radius: 20px;
    width: 600px;
    min-height: 600px;
    display: flex;
    justify-content: center;
}

.card > h1 {
    color: darkslategray;
}